<!-- <footer>
        <p>&copy; 2019 Company, Inc.</p>
</footer> -->

<!-- Footer -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<div class="container">
        <!-- <hr /> -->
        <div class="text-center center-block navbar fixed-bottom navbar-light bg-faded">
                <hr/>
                <p class="txt-railway">eStore Prototype</p>
                <br />
                <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:maka@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
</div>